@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

#header nav .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#header nav .nav-hotline .overlay {
  width: 350px;
}

.index-search {
  background-attachment: fixed;
}
.index-search .header-content {
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
  text-align: center;
  line-height: 1;
  margin-bottom: 40px;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}
.index-search .contain-all {
  height: 700px;
}
.index-search .booking-form-contain #booking {
  font-family: "Lato", sans-serif;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  color: #191a1e;
}
.index-search .booking-form-contain .booking-form {
  position: relative;
  background: #fff;
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 45px 25px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.index-search .booking-form-contain .booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.index-search .booking-form-contain .booking-form .form-control {
  background-color: #fff;
  height: 65px;
  padding: 0px 15px;
  padding-top: 24px;
  color: #191a1e;
  border: 2px solid #dfe5e9;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.index-search .booking-form-contain .booking-form .form-control::-webkit-input-placeholder {
  color: #dfe5e9;
}
.index-search .booking-form-contain .booking-form .form-control:-ms-input-placeholder {
  color: #dfe5e9;
}
.index-search .booking-form-contain .booking-form .form-control::placeholder {
  color: #dfe5e9;
}
.index-search .booking-form-contain .booking-form .form-control:focus {
  background: #f9fafb;
}
.index-search .booking-form-contain .booking-form input[type=date].form-control:invalid {
  color: #dfe5e9;
}
.index-search .booking-form-contain .booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.index-search .booking-form-contain .booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #dfe5e9;
  font-size: 14px;
}
.index-search .booking-form-contain .booking-form select.form-control + .select-arrow:after {
  content: "➜";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.index-search .booking-form-contain .booking-form .form-label {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #98c9ee;
}
.index-search .booking-form-contain .booking-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}
.index-search .booking-form-contain .booking-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 700;
  color: #191a1e;
}
.index-search .booking-form-contain .booking-form .form-checkbox label + label {
  margin-left: 15px;
}
.index-search .booking-form-contain .booking-form .form-checkbox input + span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #dfe5e9;
  border-radius: 50%;
}
.index-search .booking-form-contain .booking-form .form-checkbox input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #4fa3e3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.index-search .booking-form-contain .booking-form .form-checkbox input:not(:checked) + span:after {
  opacity: 0;
}
.index-search .booking-form-contain .booking-form .form-checkbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}
.index-search .booking-form-contain .booking-form .submit-btn {
  color: #fff;
  background-color: #4fa3e3;
  font-weight: 400;
  height: 65px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
}
.index-search .booking-form-contain .booking-cta {
  margin-top: 45px;
}
.index-search .booking-form-contain .booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #4fa3e3;
  font-weight: 400;
}
.index-search .booking-form-contain .booking-cta p {
  font-size: 22px;
  color: #191a1e;
}
.index-search .booking-custom span.select2.select2-container.select2-container--default {
  width: 100%;
}
.index-search .booking-custom .select2-container .select2-selection--single {
  height: auto;
  border: 2px solid #dfe5e9;
}
.index-search .booking-custom .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 5px;
}
.index-search .booking-custom .submit-btn {
  height: 45px !important;
}
.index-search .booking-custom label {
  color: #98c9ee;
}

.index-feature .feature-item-contain {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
}
.index-feature .feature-item-contain h5 {
  margin-bottom: 10px;
}
.index-feature .feature-item-contain .icon i {
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  color: rgb(18, 142, 29);
  background-color: rgba(64, 255, 50, 0.457);
  margin-bottom: 10px;
}

.index-popular-route a {
  color: white;
}
.index-popular-route .card-body {
  background-color: gray;
}
.index-popular-route img {
  height: 115px;
  object-fit: cover;
}

.search-form-contain form > div {
  border: 1px solid gray;
  border-radius: 3px;
}
.search-form-contain form > div .input-contain {
  width: 75%;
}
.search-form-contain form > div button {
  width: 25%;
  border: none;
  padding: 12px;
  background: rgb(255, 197, 0);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-left: 1px solid gray;
}
.search-form-contain form > div .select-input,
.search-form-contain form > div .date-input {
  width: 33.33%;
  border: none;
}
.search-form-contain form > div .select-input i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-88px);
  z-index: 10000;
  font-size: 25px;
  margin-left: 20px;
}
.search-form-contain form > div .select-input .select2-container {
  width: 100% !important;
}
.search-form-contain form > div .select-input .select2-container--default .select2-selection--single {
  border: none;
}
.search-form-contain form > div .select-input .select2-container .select2-selection--single {
  height: auto;
}
.search-form-contain form > div .select-input .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: center;
  font-size: 20px;
  border-right: 2px solid gray;
}
.search-form-contain form > div .select-input .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
.search-form-contain form > div .date-input {
  text-align: center;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
}

.search-all-contain .sort h5 {
  white-space: nowrap;
  margin-right: 15px;
}

.sort-items-contain .search-item-card .card {
  border-radius: 1px;
  transition: 0.3s;
}
.sort-items-contain .search-item-card .card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sort-items-contain .search-item-card .image-left {
  position: relative;
  margin-right: 20px;
  border-radius: 1px;
}
.sort-items-contain .search-item-card .image-left img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}
.sort-items-contain .search-item-card .image-left span {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgb(39, 174, 96);
  color: white;
  font-size: 15px;
  padding: 2px 5px;
  border-radius: 5px;
}
.sort-items-contain .search-item-card .content-right {
  width: 100%;
}
.sort-items-contain .search-item-card .content-right a {
  color: black;
}
.sort-items-contain .search-item-card .content-right a h3:hover {
  color: rgb(0, 96, 196);
}
.sort-items-contain .search-item-card .content-right a h3:last-child {
  color: rgb(0, 96, 196);
}
.sort-items-contain .search-item-card .content-right .card-time-from-to i {
  margin-right: 15px;
  font-size: 20px;
}
.sort-items-contain .search-item-card .content-right .card-time-from-to .middle {
  border-left: 4px dotted black;
  margin: 5px 7px;
  margin-left: 8px;
  padding: 5px 20px;
}
.sort-items-contain .search-item-card .content-right .button button {
  width: 100%;
  border-radius: 1px;
  color: rgb(72, 72, 72);
}

@media screen and (max-width: 991.98px) {
  .select2-container {
    z-index: 1000000000000;
  }
  .search-form-contain form > div .input-contain {
    width: 100%;
  }
  .search-form-contain form > div {
    border: none;
  }
  .search-form-contain form > div .select-input,
.search-form-contain form > div .date-input {
    width: 100%;
    border: 1px solid gray;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
  }
  .search-form-contain form > div .select-input .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-right: none;
  }
  .search-form-contain form > div .date-input {
    font-size: 18px;
  }
  .search-form-contain form > div button {
    width: 100%;
    border-left: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid gray;
  }
  .sort-items-contain .search-item-card .image-left img {
    width: 100%;
  }
  .sort-items-contain .search-item-card .image-left {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
.detail-bus .bus-slide-show .item img {
  height: 389px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 767.98px) {
  .detail-bus-content .button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 15px;
    background-color: rgb(232, 232, 232);
  }
  .detail-bus .bus-slide-show .item img {
    height: 200px;
  }
}/*# sourceMappingURL=main.css.map */